:root {
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
  --libre-font: "Libre Franklin", sans-serif;
}
html {
  font-size: 20px;
  font-family: var(--libre-font);
}
body {
  margin: 0;
  height: 100vh;
  text-align: center;
  display: grid;
  justify-content: center;
}
.main-container {
  position: relative;
  width: 28rem;
  max-width: 90vw;
}
#logo {
  margin-top: 2rem;
  width: 4rem;
}
.main-container h1 {
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 0.6rem;
}
.main-container h1 span {
  font-weight: 700;
  color: var(--very-dark-blue);
}
.main-container p {
  font-weight: 300;
  font-size: 0.85rem;
  margin-bottom: 1.3rem;
}
.notify-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2.3rem;
}
.notify-form .input-container {
  width: calc(70% - 2.4rem);
}
.input-container input {
  width: 100%;
  padding: 0.5rem 1.2rem;
  font-size: 0.8rem;
  border-radius: 1.2rem;
  border: 1px solid var(--pale-blue);
  outline: none;
}
.input-container input::placeholder {
  color: var(--gray);
}
.error input {
  border: 1px solid var(--light-red);
}
.input-container .error-text {
  font-size: 0.7rem;
  text-align: left;
  padding-left: 1.2rem;
  margin-top: 0.3rem;
  color: var(--light-red);
  display: none;
}
.error .error-text {
  display: block;
}
.notify-form button {
  padding: 0.5rem 0;
  font-size: 0.8rem;
  width: 27%;
  background-color: var(--blue);
  color: white;
  outline: none;
  border-radius: 1.5rem;
  border: 1px solid var(--blue);
  box-shadow: 1px 5px 10px hsl(223, 44%, 78%);
}
.illustration {
  width: 100%;
}
.footer {
  margin-top: 1.3rem;
}
.social-icons i {
  color: var(--blue);
  border: 1px solid var(--pale-blue);
  font-size: 0.8rem;
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
  border-radius: 50%;
  margin: 0 0.4rem 0.4rem;
}
.footer p {
  font-size: 0.7rem;
  color: var(--gray);
}
@media only screen and (max-width: 650px) {
  html {
    font-size: 17px;
  }
  .main-container {
    width: 20rem;
  }
  #logo {
    margin-top: 4rem;
  }
  .main-container h1 {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  .notify-form {
    display: unset;
  }
  .notify-form button {
    width: 90%;
    margin-bottom: 1.8rem;
  }
  .notify-form .input-container {
    margin: 0 auto;
    width: calc(90% - 2.4rem);
    margin-bottom: 1.6rem;
  }
  .input-container input {
    margin-left: -1.2rem;
  }
  .input-container .error-text {
    margin-bottom: 0.5rem;
  }
  .footer {
    margin-top: 2.5rem;
  }
}
